@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 50, 50, 50;
  }
  .dark\:text-white {
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:text-white h1,
  .dark\:text-white h2,
  .dark\:text-white h3,
  .dark\:text-white h4,
  .dark\:text-white h5,
  .dark\:text-white h6,
  .dark\:text-white strong {
    color: white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  .dark\:text-white {
    color: white;
  }
} 